<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="Test">
  
<!--   <groups> -->
<!--   <run> -->
<!--   <include name="Smoke"></include> -->
<!--   </run> -->
<!--   </groups> -->
    <classes>
      <class name="DemoHRM.LoginTest">
      <methods>
      <include name="Login"></include>
      <include name="CheckTitle"></include>
      </methods>
      </class>
      <class name="DemoHRM.HomeTest">
       <methods>
      <include name="checkAdmin"></include>
      <include name="JobOpen"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
